img{max-width:100%;height:auto;}
.container{margin: 0 auto;background-color:olive; max-width: 700px;}
body{background-color: brown}
.left-column{max-width: 500px;min-width: 650; float:left;width:66%;}
.right-column{max-width:500px;min-width: 650; float:right;width:33%;}
